section{
    display: grid;
    grid-template-columns: 45% 55%;
    gap: 20px;
}
.notes-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    align-items: center; 
}
.notes-container > *{
    width: 680px;
    height: 80px;
}

.note1{
    transform: rotate(3deg);
    justify-self: start;

    background-color: #F48600;
}
.note2{
    transform: rotate(-3deg);
    justify-self: end;

    background-color: #DAAB71;
}
.note2{
    transform: rotate(3deg);
    justify-self: start;

    background-color: #FFD77B;
}
.note2{
    transform: rotate(-3deg);
    justify-self: end;

    background-color: #FFB200;
}