a{
    text-decoration: none;
}

h1{
    color: white;
    font-size: 3em;
    font-style:italic;
    font-weight: bold;
    margin-bottom: 15px;
}
.btn{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid;
    width: 120px;
    text-align: center;
}
.btn:hover{
    cursor: pointer;
}

.btn-primary{
    background-color: #E8B931;
    color: #522504;
    border-color: #BF6A02;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: #E5A000;

}


