* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
body{
    height: 100vh;
    width: 100vw;
    background-color: #003154;
    font-family: sans-serif;
}

.container{
    display: grid;
    gap: 10px;
    width: 100%;
    height: 100%;
    grid-template-columns: 30% 40% 30%;
    grid-template-rows: 1fr 1fr 1fr;
}

.center-ui {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.center-ui h1 {
    font-size: 3rem;
    font-style: italic;
    font-weight: 900;
    margin-bottom: 20px;
}

.button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.btn {
    background-color: #e3b032;
    color: #003154;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 2.5px;
    font-weight: bold;
    text-align: center;
}

.container > div{
    width: 100%;
    height: 100%;
}

img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    justify-content: center;
    align-items: center;
}

.split{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
}

.col-1 { grid-column: 1; }
.col-2 { grid-column: 2; }
.col-3 { grid-column: 3; }
.row-1 { grid-row: 1; }
.row-2 { grid-row: 2; }
.row-3 { grid-row: 3; }

.col-span-2 { grid-column: span 2; }
.row-span-2 { grid-row: span 2; }
