section{
    display: grid;
    grid-template-columns: 45% 55%;
    grid-template-rows: 1fr;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    gap:50px;
    padding: 50px;
}
.notes-container{
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    padding: 10px;
    align-items: center; 
    border: 2px solid black;
}
.notes-container > *{
    width: 680px;
    height: 80px;
    border: 1px solid black;
}

.note1{
    //transform: rotate(3deg);
    justify-self: start;

    background-color: #F48600;
}
.note2{
   // transform: rotate(-3deg);
    justify-self: end;

    background-color: #DAAB71;
}
.note3{
    //transform: rotate(3deg);
    justify-self: start;

    background-color: #FFD77B;
}
.note4{
//transform: rotate(-3deg);
    justify-self: end;

    background-color: #FFB200;
}