a{
    text-decoration: none;
}

h1{
    color: white;
    font-size: 3em;
    font-style:italic;
    font-weight: bold;
    margin-bottom: 15px;
}
.btn{
    padding: 10px;
    border-radius: 8px;
    border: 1px solid;
    width: 120px;
    text-align: center;
    display: block;
}
.btn:hover{
    cursor: pointer;
}

.btn-primary{
    background-color: #E8B931;
    color: #522504;
    border-color: #BF6A02;
    font-weight: bold;
}
.btn-primary:hover{
    background-color: #E5A000;

}

/* Custom */
.card{
    border-radius: 50px;
    min-width: 250px;
    max-width: 450px;

    min-height: 300px;
}
.card-primary{
    background: #FFF2CC;
    border: 2px solid #522504;
    justify-items: center;

}


 