:root{
    --tduration: 0.4s;
}
a{
    text-decoration: none;
}

h1{ font-size:  var(--text-5xl); font-weight: bold;}
h2{ font-size: var(--text-4xl); }
h3{ font-size: var(--text-3xl); }
h4{ font-size: var(--text-2xl); }
h5{ font-size: var(--text-xl); }
h6{ font-size: var(--text-lg); }

/* --- BUTTON UTILITIES --- */
.btn {
    padding: 10px;
    border-radius: 8px;
    border: 1px solid;
    display: block;
    box-sizing: border-box;

    font-size: var(--text-2xl);
    width: 170px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.btn:hover {
    cursor: pointer;

}
//#=====# PRIMARY BUTTON #=====#
.btn-primary {
    background-color: var(--color-amber);
    color: var(--color-wood);
    border-color: var(--color-wood-dark);
    font-weight: bold;
    box-shadow: 0 2px 1px 1px var(--color-wood-25);
    transition-duration: var(--tduration);

}

.btn-primary:hover{
    background-color: var(--color-amber-hover);
    box-shadow: 0 4px 2px 2px var(--color-wood-25);
    transform: translateY(-2px);
    transition-duration: var(--tduration);
}
.btn-primary-active{
    color: var(--color-wood);
    border-color: var(--color-wood-dark);
    font-weight: bold;

    background-color: var(--color-amber-hover);
    box-shadow: 0 4px 2px 2px var(--color-wood-25);
    transform: translateY(-2px);
    transition-duration: var(--tduration);
}

//#=====# SECONDARY BUTTON #=====#
.btn-secondary {
    background-color: var(--color-bg-end);
    color: white;
    border-color: var(--color-bg-start);
    font-weight: bold;
    box-shadow: 0 2px 1px 1px var(--color-bg-start-25);
    transition-duration: var(--tduration);

}

.btn-secondary:hover{
    background-color: var(--color-bg-end-hover);
}

//#=====# Tersiary BUTTON #=====#
.btn-tersiary {
    background-color: var(--color-bg-end);
    color: white;
    border-color: var(--color-bg-start);
    font-weight: bold;
}

.btn-tersiary:hover{
    background-color: var(--color-bg-end-hover);
}

//#=====# Button sizes #=====#
.btn-xm { width: fit-content; height: 30px; font-size: var(--textxl)}
.btn-sm { width: 120px; height: 40px; font-size: var(--text-lg); }

.btn-long {width: 200px;}

/* --- LOGOS --- */
/* Transparent */
div:has(>.tlogo) {
    display: flex;
    align-items: center;
}
.tlogo{
    object-fit: cover;
    height: 55px;
    border-radius: 50%;
}
/* Round */
.logo{
    object-fit: cover;
    border: 1px solid black;
}
.lround {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
/* Custom */
.ltailwind {
    width: 60px;
    height: 50px;
    border-radius: 15px;
}
.ldocker {
    width: 80px;
    height: 50px;
    border-radius: 25px;
}
.lelevenlabs {
    width: 92px;
    height: 60px;
    border-radius: 25px;
}
/* --- PHOTOS --- */
.photo{
    object-fit: cover;
    border: 1px solid black;
    display: block;
}
.pround{
    width: 180px;
    height: 180px;
    border-radius: 50%;
}
.p-big{
    width: 215px;
    height: 215px;
}
// #==================================================# CUSTOM ELEMENTS #==================================================#
// #==============================# CARDS #==============================#
.card > hr{
    border: 1px solid var(--color-wood);
    width: 100%;
}

.card{
    border-radius: 20px;
    min-width: 250px;
    color: var(--color-wood);
    transition-duration: var(--tduration);
}

// #==========# Sizes #==========#
.card-base{
    width: 500px;
    height: 250px;
}

// #==========# Different styles #==========#
.card-primary{
    background: var(--color-paper);
    border: 2px solid var(--color-wood);
    justify-items: center;
    box-shadow: 0 2px 1px 1px var(--color-wood-25);
}
.card-primary:hover{
    box-shadow: 0 2px 1px 1px var(--color-wood-50);
    transition-duration: var(--tduration);
    transition-duration: var(--tduration);
    transform: translateY(-2px);
}

.card-secondary{
    background: rgba(255, 255, 255);
    box-shadow: 0 2px 3px 3px rgba(0, 0, 0, 0.25);
    width: fit-content;
    color: var(--color-blue-med);
    padding: 20px;
}
.card-secondary>a{
    margin: 10px;
}






// #==============================# Forms #==============================#
// Labels
label{
    pointer-events: none;
}

// Inputs
.text-input{
    padding: 10px;
    border-radius: 10px;
    border: 1px solid var(--color-light-gray);
    background-color: var(--color-subtle-blue);
    width: 100%;
    transition-duration: var(--tduration);

    color: var(--color-wood);
}
.text-input:hover{
    background-color: var(--color-subtle-blue-hover);
}
.text-input:focus{
    outline: none;
    box-shadow: 0 0 5px var(--color-wood-25);
    background-color: var(--color-subtle-blue-hover);
}

// #==============================# Notes #==============================#
.note{
    background-color: var(--color-blue-light);
    border: 1px solid var(--color-blue-dark);
    border-radius: 5px;
    color: white;
    text-align: center;
    padding: 2.5px;
}

.note-base{
    width: 200px;
    height: 25px;
}